<link rel="stylesheet" href="/sites/default/files/css/cms_base.css">
<link rel="stylesheet" href="/sites/default/files/css/main.css">

<link rel="stylesheet" href="/sites/default/files/css/common.css">
<link rel="stylesheet" href="/sites/default/files/css/common/header.css">
<link rel="stylesheet" href="/sites/default/files/css/common/footer.css">
<link rel="stylesheet" href="/sites/default/files/css/common/element.css">
<link rel="stylesheet" href="/sites/default/files/plugin/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="/sites/default/files/plugin/scroll-hint/scroll-hint.css" />

<link rel="stylesheet" href="/sites/default/files/css/cms_patch.css">