<footer class="footer container" role="contentinfo" id="footer" data-footer-click="フッター(日)">
    <div class="footer-inner">
        <div class="footer-option">
            <button class="footer-print">
                印刷
            </button>
        </div>
        <div>
            <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" data-block-plugin-id="system_menu_block:main">
                <div class="visually-hidden" id="block-mainnavigation-menu">Main navigation</div>
                <div class="footer-nav">
                    <div class="footer-nav-contents footer-nav-news accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/news" class="news " data-drupal-link-system-path="node/1">ニュース</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/news/press" data-drupal-link-system-path="node/546">プレスリリース</a> </li>
                                <li> <a href="/news/info" data-drupal-link-system-path="node/551">お知らせ</a> </li>
                                <li> <a href="/news/conference" data-drupal-link-system-path="node/556">記者説明会</a> </li>
                                <li> <a href="/news/webcast" data-drupal-link-system-path="node/541">動画配信</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-philosophy accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/philosophy" class=" philosophy" data-drupal-link-system-path="node/6">理念・ビジョン・戦略</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/philosophy/message" data-drupal-link-system-path="node/456">孫 正義　グループ代表挨拶</a> </li>
                                <li> <a href="/philosophy/corporate_philosophy" data-drupal-link-system-path="node/11776">経営理念</a> </li>
                                <li> <a href="/philosophy/vision" data-drupal-link-system-path="node/46">ビジョン</a> </li>
                                <li> <a href="/philosophy/strategy" data-drupal-link-system-path="node/66">戦略</a> </li>
                                <li> <a href="/philosophy/value" data-drupal-link-system-path="node/71">バリュー</a> </li>
                                <li> <a href="/philosophy/history" data-drupal-link-system-path="node/2216">ソフトバンクグループの歩み</a> </li>
                                <li> <a href="/philosophy/identity" data-drupal-link-system-path="node/976">ブランド名の由来・ロゴ</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-segments accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/segments" class="segments " data-drupal-link-system-path="node/11">事業セグメント</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/segments/investmentbusiness" data-drupal-link-system-path="node/10696">持株会社投資事業</a> </li>
                                <li> <a href="/segments/svf" data-drupal-link-system-path="node/86">ソフトバンク・ビジョン・ファンド事業</a> </li>
                                <li> <a href="/segments/softbank" data-drupal-link-system-path="node/91">ソフトバンク事業</a> </li>
                                <li> <a href="/segments/arm" data-drupal-link-system-path="node/246">アーム事業</a> </li>
                                <li> <a href="/segments/others" data-drupal-link-system-path="node/256">その他</a> </li>
                                <li> <a href="/segments/group" data-drupal-link-system-path="node/76">グループ企業一覧</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-ir accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/ir" class="ir " data-drupal-link-system-path="node/26">株主・投資家情報（IR）</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/ir/news" data-drupal-link-system-path="node/2221">IRニュース</a> </li>
                                <li> <a href="/ir/calendar" data-drupal-link-system-path="node/13096">IRカレンダー</a> </li>
                                <li> <a href="/ir/presentations" data-drupal-link-system-path="node/2101">説明会資料・動画</a> </li>
                                <li> <a href="/ir/financials" data-drupal-link-system-path="node/31">業績・財務</a> </li>
                                <li> <a href="/ir/investors" data-drupal-link-system-path="node/1041">個人投資家・株主向け情報</a> </li>
                                <li> <a href="/ir/stock" data-drupal-link-system-path="node/646">株式・社債について</a> </li>
                                <li> <a href="/ir/disclaimer" data-drupal-link-system-path="node/11021">株主・投資家情報（IR）に関する免責事項</a> </li>
                                <li> <a href="/ir/faq" data-drupal-link-system-path="node/13106">よくあるご質問と回答</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-sustainability accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/sustainability" class="sustainability" data-drupal-link-system-path="node/21">サステナビリティ</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/sustainability/news?year=2023" data-drupal-link-query="{&quot;year&quot;:&quot;2023&quot;}" data-drupal-link-system-path="node/621">サステナビリティニュース</a> </li>
                                <li> <a href="/sustainability/message" data-drupal-link-system-path="node/61">トップメッセージ</a> </li>
                                <li> <a href="/sustainability/mission" data-drupal-link-system-path="node/181">サステナビリティの考え方</a> </li>
                                <li> <a href="/sustainability/environment" data-drupal-link-system-path="node/121">環境への取り組み</a> </li>
                                <li> <a href="/sustainability/society" data-drupal-link-system-path="node/631">社会への取り組み</a> </li>
                                <li> <a href="/sustainability/governance" data-drupal-link-system-path="node/8111">ガバナンス</a> </li>
                                <li> <a href="/sustainability/esg_data" data-drupal-link-system-path="node/10846">ESGデータ集</a> </li>
                                <li> <a href="/sustainability/evaluation" data-drupal-link-system-path="node/12126">サステナビリティに関する社外からの主な評価</a> </li>
                            </ul>

                            <ul>
                                <li> <a href="/sustainability/gri" data-drupal-link-system-path="node/12856">GRIスタンダード対照表</a> </li>
                                <li> <a href="/sustainability/report" data-drupal-link-system-path="node/2356">サステナビリティレポート</a> </li>
                                <li> <a href="/sustainability/covid" data-drupal-link-system-path="node/11336">新型コロナウイルス感染症への取り組み</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-about accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/about" class=" about" data-drupal-link-system-path="node/16">企業情報</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/about/profile" data-drupal-link-system-path="node/56">会社概要</a> </li>
                                <li> <a href="/about/officer" data-drupal-link-system-path="node/101">役員一覧</a> </li>
                                <li> <a href="/about/corporate_governance" data-drupal-link-system-path="node/426">コーポレート・ガバナンス</a> </li>
                                <li> <a href="/about/compliance" data-drupal-link-system-path="node/971">コンプライアンス</a> </li>
                                <li> <a href="/about/info_security" data-drupal-link-system-path="node/471">情報セキュリティ</a> </li>
                                <li> <a href="/about/risk_management" data-drupal-link-system-path="node/2151">リスクマネジメント</a> </li>
                                <li> <a href="/about/tax_policy" data-drupal-link-system-path="node/12516">税務に対する取り組み</a> </li>
                                <li> <a href="/about/careers" data-drupal-link-system-path="node/2081">採用情報</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="block-footerglobalwebsite" data-block-plugin-id="block_content:fd6288da-eae3-4ee3-bb15-2f3a9e267e94">
                <div>
                    <div class="footer-sns">
                        <ul>
                            <!--<li>
                                <a href="" target="_blank">Global Website<i class="icon-blank-wh"></i></a>
                            </li>-->
                            <li>
                                Follow Us
                            </li>
                            <li class="footer-sns-yt">
                                <a href="https://www.youtube.com/c/SoftBankGroup" target="_blank"><img src="/sites/default/files/assets/img/common/footer_icon_yt.svg" alt="公式YouTubeチャンネル"></a>
                            </li>
                            <li class="footer-sns-yt">
                                <a href="https://twitter.com/softbank_group" target="_blank"><img src="/sites/default/files/assets/img/common/footer_icon_tw.svg" alt="公式Xアカウント"></a>
                            </li>
                            <li class="footer-sns-tw">
                                <a href="https://www.linkedin.com/company/softbankgroup/" target="_blank"><img src="/sites/default/files/assets/img/common/footer_icon_ln.png" alt="公式LinkedInページ"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <nav role="navigation" aria-labelledby="block-sbg-footer-menu" id="block-sbg-footer" data-block-plugin-id="system_menu_block:footer">
                <div class="visually-hidden" id="block-sbg-footer-menu">フッターメニュー</div>

                <div class="footer-link">
                    <ul>
                        <li> <a href="/privacy" data-drupal-link-system-path="node/186">個人情報の取り扱いについて</a> </li>
                        <li> <a href="/sitepolicy" data-drupal-link-system-path="node/9356">サイトポリシー</a> </li>
                        <li> <a href="/cookiepolicy" data-drupal-link-system-path="node/9536">クッキーポリシー</a> </li>
                        <li> <a href="/legalnotice" data-drupal-link-system-path="node/81">免責事項</a> </li>
                        <li> <a href="/contact" data-drupal-link-system-path="node/9396">お問い合わせ</a> </li>
                        <li> <a href="/sitemap" data-drupal-link-system-path="node/9546">サイトマップ</a> </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="footer-copy">
            Copyright © SoftBank Group Corp. All rights reserved.
        </div>
    </div>
</footer>