<footer class="footer container" role="contentinfo" id="footer" data-footer-click="フッター(英)">
    <div class="footer-inner">
        <div class="footer-option">
            <button class="footer-print">
                <p>
                    Print
                </p>
            </button>
        </div>
        <div>
            <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" data-block-plugin-id="system_menu_block:main">
                <div class="visually-hidden" id="block-mainnavigation-menu">Main navigation</div>

                <div class="footer-nav">
                    <div class="footer-nav-contents footer-nav-news accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/en/news" class="news" data-drupal-link-system-path="node/1">News</a>
                            <button class="accordion-head"></ｂ>
                        </dt>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/en/news/press" data-drupal-link-system-path="node/546">Press Releases</a> </li>
                                <li> <a href="/en/news/info" data-drupal-link-system-path="node/551">Notices</a> </li>
                                <li> <a href="/en/news/conference" data-drupal-link-system-path="node/556">Press Conference</a> </li>
                                <li> <a href="/en/news/webcast" data-drupal-link-system-path="node/541">Webcast</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-philosophy accordion accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/en/philosophy" class="philosophy" data-drupal-link-system-path="node/6">Vision &amp; Strategy</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/en/philosophy/message" data-drupal-link-system-path="node/456">Message from Chairman &amp; CEO</a> </li>
                                <li> <a href="/en/philosophy/corporate_philosophy" data-drupal-link-system-path="node/11776">Philosophy</a> </li>
                                <li> <a href="/en/philosophy/vision" data-drupal-link-system-path="node/46">Vision</a> </li>
                                <li> <a href="/en/philosophy/strategy" data-drupal-link-system-path="node/66">Strategy</a> </li>
                                <li> <a href="/en/philosophy/value" data-drupal-link-system-path="node/71">Values</a> </li>
                                <li> <a href="/en/philosophy/history" data-drupal-link-system-path="node/2216">SoftBank Group History</a> </li>
                                <li> <a href="/en/philosophy/identity" data-drupal-link-system-path="node/976">Origin of our Brand Name and Logo</a> </li>
                                <li> <a href="/en/philosophy/happiness-empowered-ai/global" data-drupal-link-system-path="node/11976">Happiness Empowered by AI#1</a> </li>
                            </ul>
                            <ul>
                                <li> <a href="/en/philosophy/happiness-empowered-ai/ai" data-drupal-link-system-path="node/11981">Happiness Empowered by AI#2</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-segments accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/en/segments" class="segments" data-drupal-link-system-path="node/11">Segments</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/en/segments/investmentbusiness" data-drupal-link-system-path="node/10696">Investment Business of Holding Companies</a> </li>
                                <li> <a href="/en/segments/svf" data-drupal-link-system-path="node/86">SoftBank Vision Funds</a> </li>
                                <li> <a href="/en/segments/softbank" data-drupal-link-system-path="node/91">SoftBank</a> </li>
                                <li> <a href="/en/segments/arm" data-drupal-link-system-path="node/246">Arm</a> </li>
                                <li> <a href="/en/segments/others" data-drupal-link-system-path="node/256">Other</a> </li>
                                <li> <a href="/en/segments/group" data-drupal-link-system-path="node/76">Group Companies</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-ir accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/en/ir" class="ir" data-drupal-link-system-path="node/26">Investor Relations</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/en/ir/news" data-drupal-link-system-path="node/2221">IR News</a> </li>
                                <li> <a href="/en/ir/calendar" data-drupal-link-system-path="node/13096">IR Calendar</a> </li>
                                <li> <a href="/en/ir/presentations" data-drupal-link-system-path="node/2101">Events and Presentations</a> </li>
                                <li> <a href="/en/ir/financials" data-drupal-link-system-path="node/31">Financials and Filings</a> </li>
                                <li> <a href="/en/ir/investors" data-drupal-link-system-path="node/1041">For Shareholders</a> </li>
                                <li> <a href="/en/ir/stock" data-drupal-link-system-path="node/646">Stocks and Bonds</a> </li>
                                <li> <a href="/en/ir/disclaimer" data-drupal-link-system-path="node/11021">IR Disclaimers</a> </li>
                                <li> <a href="/en/ir/faq" data-drupal-link-system-path="node/13106">FAQ</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-sustainability accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/en/sustainability" class="sustainability" data-drupal-link-system-path="node/21">Sustainability</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/en/sustainability/news?year=2023" data-drupal-link-query="{&quot;year&quot;:&quot;2023&quot;}" data-drupal-link-system-path="node/621">Sustainability News</a> </li>
                                <li> <a href="/en/sustainability/message" data-drupal-link-system-path="node/61">Top Message</a> </li>
                                <li> <a href="/en/sustainability/mission" data-drupal-link-system-path="node/181">Our Approach to Sustainability</a> </li>
                                <li> <a href="/en/sustainability/environment" data-drupal-link-system-path="node/121">Environmental Initiatives</a> </li>
                                <li> <a href="/en/sustainability/society" data-drupal-link-system-path="node/631">Social Initiatives</a> </li>
                                <li> <a href="/en/sustainability/governance" data-drupal-link-system-path="node/8111">Governance</a> </li>
                                <li> <a href="/en/sustainability/esg_data" data-drupal-link-system-path="node/10846">ESG Data</a> </li>
                                <li> <a href="/en/sustainability/evaluation" data-drupal-link-system-path="node/12126">External Evaluation</a> </li>
                            </ul>
                            <ul>
                                <li> <a href="/en/sustainability/gri" data-drupal-link-system-path="node/12856">GRI Standards Content Index</a> </li>
                                <li> <a href="/en/sustainability/report" data-drupal-link-system-path="node/2356">Sustainability Reports</a> </li>
                                <li> <a href="/en/sustainability/covid" data-drupal-link-system-path="node/11336">Our Response to COVID-19</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-nav-contents footer-nav-about accordion">
                        <div class="footer-nav-contents-head">
                            <a href="/en/about" class="about" data-drupal-link-system-path="node/16">Company Info</a>
                            <button class="accordion-head"></button>
                        </div>
                        <div class="accordion-body footer-nav-contents-body">
                            <ul>
                                <li> <a href="/en/about/profile" data-drupal-link-system-path="node/56">Corporate Data</a> </li>
                                <li> <a href="/en/about/officer" data-drupal-link-system-path="node/101">Board of Directors</a> </li>
                                <li> <a href="/en/about/corporate_governance" data-drupal-link-system-path="node/426">Corporate Governance</a> </li>
                                <li> <a href="/en/about/compliance" data-drupal-link-system-path="node/971">Compliance</a> </li>
                                <li> <a href="/en/about/info_security" data-drupal-link-system-path="node/471">Information Security</a> </li>
                                <li> <a href="/en/about/risk_management" data-drupal-link-system-path="node/2151">Risk Management</a> </li>
                                <li> <a href="/en/about/tax_policy" data-drupal-link-system-path="node/12516">Initiatives for Taxation</a> </li>
                                <li> <a href="/en/about/careers" data-drupal-link-system-path="node/2081">Careers</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div id="block-footerglobalwebsite" data-block-plugin-id="block_content:fd6288da-eae3-4ee3-bb15-2f3a9e267e94">
                <div>
                    <div class="footer-sns">
                        <ul>
                            <!--<li>
                                <a href="https://global.softbank" target="_blank">Global Website<i class="icon-blank-wh"></i></a>
                            </li>-->
                            <li> Follow Us </li>
                            <li class="footer-sns-yt">
                                <a href="https://www.youtube.com/c/SoftBankGroup" target="_blank"><img src="/sites/default/files/assets/img/common/footer_icon_yt.svg" alt="公式YouTubeチャンネル"></a>
                            </li>
                            <li class="footer-sns-yt">
                                <a href="https://twitter.com/softbank_group" target="_blank"><img src="/sites/default/files/assets/img/common/footer_icon_tw.svg" alt="公式Xアカウント"></a>
                            </li>
                            <li class="footer-sns-tw">
                                <a href="https://www.linkedin.com/company/softbankgroup/" target="_blank"><img src="/sites/default/files/assets/img/common/footer_icon_ln.png" alt="公式LinkedInページ"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <nav role="navigation" aria-labelledby="block-sbg-footer-menu" id="block-sbg-footer" data-block-plugin-id="system_menu_block:footer">
                <div class="visually-hidden" id="block-sbg-footer-menu">フッターメニュー</div>

                <div class="footer-link">
                    <ul>
                        <li> <a href="/en/privacy" data-drupal-link-system-path="node/186">Privacy</a> </li>
                        <li> <a href="/en/sitepolicy" data-drupal-link-system-path="node/9356">Site Policy</a> </li>
                        <li> <a href="/en/cookiespolicy" data-drupal-link-system-path="node/9536">Cookies Policy</a> </li>
                        <li> <a href="/en/legalnotice" data-drupal-link-system-path="node/81">Legal Notice</a> </li>
                        <li> <a href="/en/contact" data-drupal-link-system-path="node/9396">Contact Us</a> </li>
                        <li> <a href="/en/sitemap" data-drupal-link-system-path="node/9546">Site Map</a> </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="footer-copy">
            Copyright © SoftBank Group Corp. All rights reserved.
        </div>
    </div>
</footer>